<ion-view>
  <ion-content>
    <div class='navbar' ng-include="'views/navbar/navbar.html'"></div>
    
    <div class='list'>
    <a class='item item-thumbnail-left' href='#' ng-repeat='person in fakeData'>
      <img ng-src='{{person.picture}}'>
      <h2 class='inline'>{{ person.name }}</h2><br>
      <h4 class='inline'>{{ person.job }}</h4>
      <h4>{{ person.location }}</h4>
      <h4 class='inline skill' ng-repeat='skill in person.skills'>{{ skill }}</h4>
    </a>
  </div>
  </ion-content>
</ion-view>