<ion-header-bar align-title='left' class="bar-stable">
  <h1 class="title col"><img id='logo' ui-sref='received' src='img/cycardLogo.png'></h1>
  <div class='col col-75'></div>
  <button class='button button-clear col' ui-sref='search'><i class='ion-ios-search'></i></button>
  <button id='settingsButton' class='button icon button-clear ion-gear-a' ui-sref='search'></button>
  <ul id='settingsDropDown'>
    <li class='settingsItem' ui-sref='userCard'>My Card
    </li>
    <li class='settingsItem settingsItemNotTop' ui-sref='received'>Received
    </li>
    <li class='settingsItem settingsItemNotTop' ui-sref='sentTo'>Sent
    </li>
    <li class='settingsItem settingsItemNotTop' ui-sref='account'>Account
    </li>
  </ul>
  <!-- <div class='dropdown'>
  <button id='dropdown' class='button icon button-clear ion-gear-a col' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"></button>
    <ul class="dropdown-menu list" role="menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
      <li class="divider"></li>
      <li><a href="#">One more separated link</a></li>
    </ul>
  </div> -->
  <!-- <button class='button icon button-clear ion-gear-a' ui-sref='search'>
    <ul id='settingDropDown'>
      <li>My Card
      </li>
      <li>Received
      </li>
      <li>Sent
      </li>
      <li>Account
      </li>
    </ul>
  </button> -->
  <!-- <button class='button button-clear' onclick="window.open('http://www.google.com', '_system', 'location=yes'); return false;"><i class='ion-ios-gear'></i></button> -->
</ion-header-bar>