<ion-view>
  <ion-content>
    View/Edit user card
    <button ui-sref='received'>Get outta here</button>
    <!-- <button class='button' on-touch='editMode()'>Edit</button> -->
    <button id='editSaveCard' class='button button-energized' on-touch='cardMode(editSave)'>{{ editSave }}</button>
    <div class='card'>
      <div class='list'>
        <img src='#'>
        <label class='item item-input'>
          <input type='text' name='name' placeholder='Full Name' ng-readonly='notEditing'>
        </label>
        <label class='item item-input'>
          <input type='text' name='job' placeholder='Job Title/Company' ng-readonly='notEditing'>
        </label>
        <label class='item item-input'>
          <input type='text' name='location' placeholder='City, State' ng-readonly='notEditing'>
        </label>
        <label class='item item-input'>
          <input type='email' name='email' placeholder='Email' ng-readonly='notEditing'>
        </label>
        <label class='item item-input'>
          <input type='text' name='links' placeholder='Links' ng-readonly='notEditing'>
        </label>
        <label class='item item-input'>
          <input type='text' name='skills' placeholder='Skills' ng-readonly='notEditing'>
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>