/* Empty. Add your own CSS if you like */

a {
  text-decoration: none;
}

a:visited {
  color: initial;
}

label input[readonly] {
  /*background-color: white !important;*/
}

.navbar {
  height: 44px;   /* height of the navbar */
  margin-bottom: 0;
}

i {
  font-size: 1.7em;
  color: black;
}

.center {
  text-align: center;
}

.title {
  /*margin-top: -1em;*/
}

.settingsItemNotTop {
  border-top: 1px solid black;
}

.settingsItem {
  font-size: 1.4em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1em;
}

.settingsItem:hover {
  background-color: gray;
}

#logo {
  position: absolute;
  left: 0;
  top: 0;
}

#loginContent {
  background: url('../img/sfSkyline.jpg') no-repeat center center fixed;
  background-size: cover;
  position: absolute;
}

#loginWrapper {
}

#login {
  /*position: absolute;*/
  font-size: 2em;
  font-weight: 200;
  /*top: 50%;*/
  margin-top: 5em;
}

#dropdown {
  text-align: right;
}

.settingsDropDown {
  position: absolute;
  top: 100%;
  background-color: lightgray;
  right: 0;
  width: 10em;
  display: none;
}

#accountButton {

}

#editSave {
  color: black;
}

.wholeView {
  width: inherit;
  height: inherit;
}

/* userCard View */
.card {
  padding: 10px;
  text-align: center;
  /*background-color: #DDA;*/
  margin: 0;
  width: 100%;
}

.card label {
  width: 100%;
}

.card input {
  background-color: rgba(0,0,0,0.5);
  display: block;
}

.card input[readonly] {
  background-color: rgba(0,0,0,0);
}

#editSaveCard {
  /*float: right;*/
  color: black;
  right: 10px;
}

#homeCardButton {
  left: 10px;
  background-color: black;
  color: white;
}

#flipCard {
  top: 85%;
  right: 10px;
  background-color: black;
  color: white;
}

#backgroundColorCardLabel {
  /*top: 85%;*/
  left: 42%;
  border: 1px solid black;
}

#backgroundColorCard {
  visibility: hidden;
}

#colorCardLabel {
  /*top: 85%;*/
  left: 42%;
  width: 30px;
  margin-left: 18px;
  margin-top: 18px;
  height: 30px;
}

#colorCard {
  visibility: hidden;
}

#colorDropper {
  position: absolute;
  vertical-align: middle;
  top: 4px;
  left: 5px;
  text-align: center;
  font-size: 0.7em;
}

.cardViewButton {
  position: absolute;
  z-index: 10;
  top: 5px;
  border: none;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  font-size: 2em;
  color: black;
  /*box-shadow: 0 0 0 1px white;*/
}

#userCardName {
  text-align: center;
  font-size: 2.5em;
  height: 150%;
  width: 100%;
}

#userCardJob {
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  font-style: italic;
  font-weight: 300;
}

#userCardLocation {
  text-align: center;
  width: 100%;
}

#userCardEmail {
  text-align: center;
  width: 100%;
}

#userCardLinks {
  display: inline;
  text-align: center;
}

#userCardSkills {
  display: inline;
  text-align: center;
}