/* Empty. Add your own CSS if you like */

a {
  text-decoration: none;
}

a:visited {
  color: initial;
}

label input[readonly] {
  background-color: white !important;
}

.navbar {
  height: 44px;   /* height of the navbar */
  margin-bottom: 0;
}

i {
  font-size: 1.7em;
  color: black;
}

.center {
  text-align: center;
}

.title {
  /*margin-top: -1em;*/
}

.settingsItemNotTop {
  border-top: 1px solid black;
}

.settingsItem {
  font-size: 1.4em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1em;
}

.settingsItem:hover {
  background-color: gray;
}

#logo {
  position: absolute;
  left: 0;
  top: 0;
}

#loginContent {
  background: url('../img/sfSkyline.jpg') no-repeat center center fixed;
  background-size: cover;
  position: absolute;
}

#loginWrapper {
}

#login {
  /*position: absolute;*/
  font-size: 2em;
  font-weight: 200;
  /*top: 50%;*/
  margin-top: 5em;
}

#dropdown {
  text-align: right;
}

.settingsDropDown {
  position: absolute;
  top: 100%;
  background-color: lightgray;
  right: 0;
  width: 10em;
  display: none;
}

#accountButton {

}